html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0px;
    padding: 0px;
    list-style:none;
}
body,html{
	width:100%;
	height:100%;
	font-family:"宋体";
}
.body{
	background:url(../img/bg2.jpg) center center no-repeat fixed;
	background-size:100% 100%;
	overflow:hidden;
}
.Loading{
    width:100%;
    height:100%;
    top:0;
    left:0;
	position:fixed;
	transform-style:preserve-3d;
	transform:perspective(800px);
	
}
.Loading .load_left{
	width:50%;
	height:100%;
	position:absolute;
	left:0;
	background:url(../img/bg1.jpg) no-repeat;
	background-size:200% 100%;
	transition:2s all ease;
	transform-origin:left left;
}
.Loading .load_right{
	position:absolute;
	right:0;
	width:50%;
	height:100%;
	background:url(../img/bg1.jpg) no-repeat;
	background-position:right;
	background-size:200% 100%;
	transition:2s all ease;
}
.Loading .log{
    width:350px;
    height:200px;
    position:absolute;
	left:60%;
	top:60%;
	opacity:0;
    background:url(../img/bg6.png) no-repeat center center
}
.Loading .Load{
 	font-size:17px;
    position:absolute;
    top:88%;
    left:81%;
    width:100px;
    height:50px;
	font-weight:bold;
    text-align:center;
	z-index:199;
	color:#fff;
	text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
}
.Loading .Mask{
	position:absolute;
	z-index:99;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.5;
}
.Catalog{
    display:none;
    width:100%;
    height:800px;
	background:rgba(0,0,0,0.3);
}
.Catalog .contents{
    overflow:hidden;
    position:absolute;
    left:50%;
    width:240px;
    margin-left:-250px;
	z-index:999999;
}
.Catalog .contents li{
    line-height:80px;
    height:80px;
    list-style:none;
    text-align:center;
    position:relative;
}
.Catalog .contents .on a{
    height:100%;
    font-size:29px;
}
.Catalog .contents li .active{
    display:none;
    position:absolute;
    border-bottom:1px solid #CF6;
    z-index:999;
    left:0;
    top:75px;
}
.Catalog .contents li a{
    display:block;
    text-decoration:none;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    width:100%;
    height:100%;
}
.Catalog .translate{
	padding:90px 37px 0 13px;
    display:none;
    width:410px;
    height:100px;
    font-size:18px;
    color:#000;
	font-weight:bold;
	text-shadow:4px 2px 1px #FFF;
    text-align:center;
    position:absolute;
    left:53%;
    top:47%;
    margin-left:50px;
    margin-top:-100px;
}
.Catalog .translate span{
    border:1px solid #fff;
    display:block;
    position:absolute;
}
.Catalog .translate .left{
    left:20px;
    top:-20px;
}
.Catalog .translate .top{
    left:0;
    top:0;	
}
.Catalog .translate .right{
    right:50px;
    top:-8px;
}
.Catalog .translate .bottom{
    bottom:0;
    left:5px;
}
.for_work{
    height:800px;
    display:none;
	background:rgba(255,255,255,0.7);
	background-size:100% 100%;
	position:relative;
}
.for_work div{
	background:#989279;
	border:1px solid #ccc;
	width:400px;
	height:180px;
	left:-410px;
	transition:1.5s all cubic-bezier(0.24, 0.54, 0.21, 0.56) 1s;
	z-index:99;
}
.for_work div a{
	width:100%;
	height:100%;
	display:block;
	border:1px solid #ccc;
	position:relative;
	filter:blur(0px);
}
.for_work div a span{
	color:#fff;
	text-align:center;
	font-size:15px;
	line-height:35px;
	opacity:0;
	transition:1s all ease;
	position:absolute;
	bottom:0;
	height:35px;
	width:100%;
	background:rgba(255,255,255,0.5);
}
.for_work .work_one{
	background:#12172b;
	position:absolute;
	top:100px;
}
.for_work .work_one a{
	background:url(../LHHXGame/img/img/logo.gif) no-repeat center center;
}
.for_work .work_two{
	background:#f8b8c6;
	position:absolute;
	right:20%;
	top:50%;
	margin-top:-91px;
}
.for_work .work_two a span{
	background:rgba(97,68,80,0.7);
}
.for_work .work_two a{
	background:url(../moduleDs/img/logo.png) no-repeat center center;
}
.for_work .work_three{
	background:#fff;
	position:absolute;
	bottom:100px;
}
.for_work .work_three a{
	background:url(../img/Mi.png) no-repeat center center;
	background-size:60%;
}
.for_work .work_three a span{
	background:rgba(0,0,0,0.7);
}
.for_work p{
	background:#938d74;
}
.for_work .work_po{
	width:2px;
	position:absolute;
	left:60%;
	top:0;
}
.for_work .work_pt{
	height:2px;
	position:absolute;
	left:60%;
	top:264px;
}
.for_work .work_ps{
	width:2px;
	position:absolute;
	left:60%;
	top:264px;
	margin-left:350px;
}
.for_work .work_pq{
	height:2px;
	position:absolute;
	left:60%;
	top:528px;
}
.for_work .work_pe{
	width:2px;
	position:absolute;
	left:60%;
	top:528px;
}
.A_moment_relief{
	height:800px;
	background:url(../img/bg5.jpg) no-repeat fixed;
	background-size:100% 100%;
	display:none;
}
.A_moment_relief p{
    width: 100%;
    height: 190px;
}
.A_moment_relief .moment_div{
	height: 610px;
	width:100%;
	background:#fff;
	margin:0 auto;
	position:relative;
}
.A_moment_relief div span{
	opacity:0;
	position:absolute;
	left:50%;
	background:#000;
}
.A_moment_relief div .line_x{
	height:2px;
	top:50%;
	width:1000px;
	margin-left:-500px;
}
.A_moment_relief div .line_y{
	height:100%;
	top:0;
	width:2px;
	margin-left:-1px;
}
.A_moment_relief div div{
	position:absolute;
	float:left;
    width:400px;
    height:calc(500px / 2);
	transition:2s all ease;
}
.A_moment_relief div h3{
	color:#000;
	font-size:16px;
	text-align:center;
	display:block;
	position:absolute;
	width:100px;
	margin-left:-50px;
	left:50%;
	top:148px;
}
.A_moment_relief div .introduce{
	font-size:13px;
	color:#999;
	width:300px;
	text-align:center;
	position:absolute;
	border:none;
	top:180px;
	left:50%;
	margin-left:-150px;
}
.A_moment_relief div p{
	width:120px;
	height:120px;
	border:2px solid #C96;
	position:absolute;
	left:50%;
	margin-left:-60px;
	top:5px;
	background:none;
	transform-style:preserve-3d;
	transition:1s all ease;
}
.A_moment_relief div a{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
.A_moment_relief .Moment_one{
	left:50%;
	top:0;
	margin-left:-430px;
	transform:translateY(1105px);
}
.A_moment_relief .Moment_one .head{
	background:url(../img/game_snake.jpg);
	background-size:100% 100%;
}
.A_moment_relief .Moment_two .head{
	background:url(../img/game_2048.jpg);
	background-size:100% 100%;
}
.A_moment_relief .Moment_three .head{
	background:url(../img/game_live.jpg);
	background-size:100% 100%;
}
.A_moment_relief .Moment_four .head{
	background:url(../img/game_pic.jpg);
	background-size:100% 100%;
}
.A_moment_relief .Moment_two{
	left:50%;
	margin-left:30px;
	top:0;
	transform:translateY(1105px);
}
.A_moment_relief .Moment_three{
	top:50%;
	left:50%;
	margin-top:15px;
	margin-left:-430px;
	transform:translateY(1105px);
}
.A_moment_relief .Moment_four{
	top:50%;
	left:50%;
	margin-top:15px;
	margin-left:30px;
	transform:translateY(1105px);
}
.About_me{
	height:800px;
	display:none;
	background:url(../img/bg4.jpg) no-repeat fixed;
	background-size:100% 100%;
}
.About_me p{
    width:100%;
   	height:190px;
    background: rgba(0,0,0,0.5);
}
.About_me div{
	height: 610px;
	width:100%;
	background:#fff;
	margin:0 auto;
	position:relative;
}
.About_me div h3{
	width:100%;
	height:33px;
	position:absolute;
	top:80px;
	font-size:33px;
	text-align:center;
}
.About_me div .line{
	height:1px;
	width:110px;
	position:absolute;
	background:#ccc;
	top:145px;
	left:50%;
	margin-left:-55px;
	z-index:99;
}
.About_me div .show{
	z-index:99;
	width:100%;
	height:50px;
	font-size:20px;
	color:#ccc;
	text-align:center;
	line-height:50px;
	position:absolute;
	top:170px;
}
.About_me div .skill{
	width:100%;
	height:300px;
	position:absolute;
	top:235px;
	text-align:center;
}
.About_me div .skill span{
	background:#00a2e8;
	width:200px;
	height:200px;
	border-radius:50%;
	border:2px solid #ccc;
	position:absolute;
	left:50%;
	top:40px;
	color:#fff;
	text-align:center;
	line-height:200px;
	font-size:18px;
	font-weight:bold;
}
.About_me div .skill span p{
	position:absolute;
	top:-4px;
	left:0;
	width:200px;
	height:220px;
	background:#fff;
	transition:1.5s all ease-in-out;
}
.About_me div .skill span a{
	position:absolute;
	left:-999px;
	text-decoration:none;
	opacity:0;
	color:#fff;
	transition:2s all ease;
	font-weight:bold;
	z-index:999;
}
.About_me div .skill span .bord{
	background:rgba(0,0,0,0);
	width:190px;
	height:190px;
	border-radius:50%;
	border:10px solid #ccc;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-100px;
	margin-left:-105px;
	z-index:55;
}
.About_me div .skill span:nth-child(1){
	margin-left:-460px;
	transform:translate(-720px,0);
}
.About_me div .skill span:nth-child(2){
	margin-left:-220px;
	transform:translate(-720px,0);
}
.About_me div .skill span:nth-child(3){
	margin-left:20px;
	transform:translate(720px,0);
}
.About_me div .skill span:nth-child(4){
	margin-left:260px;
	transform:translate(720px,0);
}
.The_end{
	height:800px;
	display:none;
	background:url(../img/bg3.jpg) no-repeat fixed;
	background-size:100% 100%;
}
.The_end p{
    width: 100%;
    height: 190px;
    background: rgba(0,0,0,0.5);
}
.The_end div{
	height: 610px;
	width:100%;
	background:#fff;
	margin:0 auto;
	position:relative;
}
.The_end div h3{
	width:100%;
	height:33px;
	position:absolute;
	top:80px;
	font-size:33px;
	text-align:center;
}
.The_end div .line{
	height:1px;
	width:220px;
	position:absolute;
	background:#ccc;
	top:145px;
	left:50%;
	margin-left:-110px;
}
.The_end div .show{
	width:100%;
	height:50px;
	font-size:20px;
	color:#ccc;
	text-align:center;
	line-height:50px;
	position:absolute;
	top:170px;
}
.The_end div .contact{
	width:700px;
	left:50%;
	margin-left:-350px;
	height:250px;
	position:absolute;
	top:235px;
}
.The_end div .contact p{
	height:50px;
	width:100%;
	font-size:18px;
	font-weight:bold;
	margin-left:50px;
	line-height:50px;
	color:#000;
	background:none;
	position:relative;
}
.The_end div .contact p span{
	font-weight:normal;
	font-size:14px;
	display:inline-block;
	color:#666;
	position:absolute;
	left:100px;
}
.The_end div .contact p:last-child{
	width:60px;
	text-shadow: 13px 10px 5px #888888;
	position:absolute;
	left:80%;
}
.The_end div .M_line{
	height:2px;
	position:absolute;
	background:red;
	bottom:10px;
}