@charset "utf-8";
/* 贪吃蛇 css  2016 10 30 */

*{
	margin:0;
	padding:0;
}
body{
	background:#000;
}
.body{
	width:600px;
	margin:100px auto;
	text-align:center;
}
#Box{
	height:300px;
	border:1px solid #fff;
	position:relative;
}
#Box div{
	width:20px;
	height:20px;
	background-color:green;
	position:absolute;
	border-radius:50%;
}
#Box div.snake{
	background-color:#ff0;
}
input{
	border:1px solid #ccc;
	background:none;
	width:60px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	position:absolute;
	top:30px;
	left:200px;
}
p{
	border:1px solid #ccc;
	background:none;
	width:90px;
	height:30px;
	line-height:30px;
	text-align:left;
	padding-left:10px;
	color:#fff;
	position:absolute;
	font-size:14px;
}
p span{
	float:right;
	width:50px;
	height:100%;
	display:block;
	text-align:center;
}
.number{
	top:40px;
	left:450px;
}
.type{
	top:40px;
	left:700px;
}


